body{
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    background: #d63cc7;
    padding: 0;
    position: absolute;
    font-family: "Roboto Slab", serif;
}
.bodyOfMenu{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.menu{
    text-align: center;
    margin-top: 3%;
    
    padding: 0;
    width: 70%;
    
}

.name{
    font-weight: 600;
    font-size: 32px;
    color: #ffe900;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.501);

    margin: 0, 0, 140px, 0;
}

.rules{
    margin-top: 0px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 0px;
}

h2{
    font-weight:800;
    font-size: 36px;
}

p{
    font-size: 24px;
    color: #ffe900;
}

.start{
    padding-top: 0px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.startGame{
    border-radius: 40px;
    width: 800px;
    height: 60px;
    box-shadow: 1px 0 4px 2px rgba(0, 0, 0, 0.501);
    background: #ffe900;
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    font-weight: 700;
    font-size: 28px;
    font-family: "Roboto Slab", serif;
}
.startGame:hover{
    transform: scale(1.05);
    border-radius: 56px;
}
/* ------------------------------------------------------------------------------------------------ */
/*                                       2 страница */

.game{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 0px;
}
.game img{
    border-radius: 36px;
}



.toMenu{
    margin: 0;
}
.toMenu button{
    width: 200px;
    height: 40px;
    border-radius: 20px;
    background-color: black;
    color: #ffe900;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.toMenu button:hover{
    transform: scale(1.05);
}
.arrow{
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #ffe900;
    margin-right: 10px;
}


.gameChoose{
    text-align: center;
}
.player, .bot {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background: #884581;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.player{
    margin-top: 32px
}
.bot{
    margin-bottom: 32px;
}
h2{
    margin: 0px;
    font-weight: 800;
    font-size: 32px;
    letter-spacing: 0.2em;
}
.makeAChoose{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
.makeAChoose button{
    background-color:#ffe900;
    border-radius: 40px;
    width: 600px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.makeAChoose button:hover{
    transform: scale(1.05);
}

.imagesOfBot img{
    width: 140px;
    height: 140px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid black;
}
.imagesOfBot img:hover{
    transform: scale(1.01);
}
.rock, .scissors, .papper{
    width: 160px;
    height: 160px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid black;
}
.imagesOfPlayer img:hover{
    transform: scale(1.05);
    box-shadow: 4px 0 4px 4px rgba(0, 0, 0, 0.256);
}
.pressedVariant {
    transform: scale(1.05);
    box-shadow: 4px 0 4px 4px rgba(0, 0, 0, 0.256);
    border: 6px solid #000000;
}

.pressedVariantBot {
    transform: scale(1.05);
    box-shadow: 4px 0 4px 4px rgba(0, 0, 0, 0.719);
}

.winsAndLoses{
    display: flex;
}
.wins button{
    margin-right: 8px;
    background-color: #000000;
    color: #ffe900;
    border-radius: 12px;
    padding-left: 12px;
    padding-right: 12px;
}
.loses button {
    background-color: #000000;
    color: #ffe900;
    border-radius: 12px;
    padding-left: 12px;
    padding-right: 12px;
}


.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    background-color: #000000;
    color: #ffe900;
    padding: 12px;
    border: 4px solid #c4fa00;
    width: 30%;
    height: 20%;
    /* Could be more or less, depending on screen size */
}
.modalText{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 600;
    margin-top: 8%;
}
.close {
    color:#ffe900;
    float: right;
    font-size: 40px;
    font-weight: bold;
    margin: 0%;
}
.close:hover, .close:focus {
    color: rgb(255, 0, 0);
    text-decoration: none;
    cursor: pointer;
}
